*{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;
}
#image{
    margin-left: 340px;
}
#form{
    border: 1px solid rgba(128, 128, 128, 0.363);
    width: 350px;
    height: 410px;
    margin-bottom: 180px;
    text-align: center;
}
.insta{
    display: inline-block;
}
#head{
    padding-left: 50px;
    padding-top: 50px;
    font-size: 40px;
}
input{
    width: 260px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}
td{
    padding-top: 18px;
    padding-left: 35px;
}
#div3{
    border: 1px solid rgba(128, 128, 128, 0.363);
    width: 350px;
    position: absolute;
    left: 798px;
    top: 460px;
}
.bottom{
    display: inline-block;
    padding-left: 40px;
}
.image{
    width: 120px;
}
#googleplay{
    height: 44px;
}
#div4{
    position: absolute;
    left: 830px;
    top: 510px;
}
#p{
    text-align: center;
}
a{
    text-decoration: none;
}
#button{
    background-color: rgb(61, 179, 226);
    border-radius: 8px;
    border: 1px solid rgb(61, 179, 226);
    outline: none;
    color: white;
}
.or{
    width: 100px;
    border: 1px solid rgba(74, 74, 74, 0.271);
}
#or1{
    position: absolute;
    top: 340px;
    left: 850px;
}
#or2{
    position: absolute;
    top: 340px;
    left: 1000px;
}
.facebook{
    position: absolute;
    left: 879px;
    top: 375px;
}
.facebook-txt a{
    color: #090698;
    font-size: 15px;
    font-weight: 500;
}
.password a{
    color:#090698;
    font-size: 13px;
}
#div5{
    margin-left: 300px;
    margin-top: 40px;
}
#topimage{
    position: absolute;
    left: 492px;
    top: 57px;
}
.input{
    border: 1px solid rgba(128, 128, 128, 0.363);
}
.div5{
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.div5 .links ul li{
    display: inline-block;
    margin-right: 10px;
}
.links ul li a{
    color: #003569;
    font-size: 12px;
}
.div5 .copyright{
    color: #6c6c6c;
    text-align: center;	
    font-size: 12px;
}
